[buildout]
parts =
  console_scripts
develop = .
version = versions

[versions]
zest.releaser = 3.43

[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    setuptools-git
    zest.releaser
